@import '../../theme/breakpoint.css';

.mainSection {
  width: 100%;
  padding: 30px 0;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.slideContainer {
  position: relative;
  & > * {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.content {
  display: flex;
  width: 100%;
  max-width: 820px;
  flex-direction: column;

  &.overflowHidden {
    overflow: hidden;
  }
}

.flexRow {
  display: flex;
  flex-wrap: nowrap;
  @media (--desktop) {
    justify-content: space-around;
  }
}

.appear,
.enter {
  transform: translate(100%, 0);
  opacity: 0;
  transition: opacity 200ms linear,
  transform 400ms linear;
}

.appearDone,
.enterActive {
  position: static;
  opacity: 1;
  transform: translate(0,0);
  transition: opacity 200ms linear,
  transform 400ms linear;
}

.exitActive {
  opacity: 0.5;
  transform: translate(-100%, 0);
  transition: opacity 200ms linear,
  transform 400ms linear;
}

.enterDone {
  position: static;
}

