@import '../../../theme/breakpoint.css';

.nav {
  display: flex;
  width: 100%;
  max-width: 600px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid #dfe0e3;
  padding-bottom: 15px;
  margin: 0 auto 15px;

  @media (--desktop) {
    padding-bottom: 20px;
    margin: 0 auto 35px;
  }
}

.navItem {
  opacity: 0.5;
  font-size: 14px;
  color: var(--title);

  @media (--desktop) {
    font-size: 18px;
  }

  &:hover,
  &.active {
    opacity: 1;
    cursor: pointer;
  }

  &.disabled:hover {
    &:not(:first-child) {
      opacity: 0.5;
      cursor: default;
    }
  }
}

