@import '../../../../theme/breakpoint.css';

.filesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (--desktop) {
    flex-direction: row;
  }

  & .col {
    width: 100%;
    @media (--desktop) {
      width: 50%;

      &:nth-child(1) {
        padding-right: 15px;
      }

      &:nth-child(2) {
        padding-left: 15px;
      }
    }
  }

  & .title {
    font-size: 14px;
    color: var(--lightBg);
    font-weight: bold;
  }
}

.fileItem {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 0 10px;
  cursor: pointer;
  color: var(--lightBg);
  border: 1px solid var(--inputBorderColor);
  transition: all ease 0.15s;

  &:hover {
    border-color: var(--accent);
  }

  & .text {
    color: var(--textColor);
    line-height: 14px;
    font-size: 12px;
    margin-left: 5px;
  }
}

.reverseCol {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  min-height: 50px;
}
