.title {
  font-weight: bold;
  color: var(--accent);
  font-size: 34px;
  margin: 0 0 10px 0;
}

.socialBtn {
  width: 50px !important;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 20px;
  margin: 0 5px 20px 5px;
  cursor: pointer;

  &.facebook {
    background-color: #3b5998;

    &:matches(:hover, :focus) {
      background-color: #4c70ba;
    }
  }

  &.google {
    background-color: #dc4e41;

    &:matches(:hover, :focus) {
      background-color: #f33b2b;
    }
  }
}



.content {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  & label {
    &[for="password"],
    &[for="email"] {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      opacity: 1;
    }
  }
}

.serverErrorContainer {
  height: 0;
  position: relative;
}

.serverError {
  color: var(--accent);
  font-size: 13px;
  margin: 0;
  text-align: center;
  position: absolute;
  top: -3px;
  left: 0;
  white-space: nowrap;
}

.loginBtnContainer {
  display: flex;
  justify-content: center;
  margin: 20px auto 0 auto;
  & img {
    height: 40px;
  }
}

.loginLink {
  border: none;
  background-color: transparent;
  color: #6ea19d;
  font-size: 14px;
  cursor: pointer;

  &:matches(:hover, :focus) {
    text-decoration: underline;
  }
}
