@import '../../../../theme/breakpoint.css';

.link {
  color: var(--lightBg);
  font-size: 14px;
  margin: 0 0 20px 20px;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }

  & i {
    margin: -15px 5px 0 0;
  }
}

.orderContainer {
  border-radius: var(--borderRadius);
  overflow: hidden;
  box-shadow: var(--shadow);
  padding: 20px;

  & .nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 2px solid var(--blue);
    margin-bottom: 20px;

    & > * {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;
      color: var(--lightBg);
      background-color: var(--grey);
      font-size: 12px;
      line-height: 30px;
      margin: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      white-space: nowrap;
      cursor: pointer;
      border: 2px solid transparent;
      border-bottom: none;
      transition: all ease 0.2s;

      &:hover {
        border-color: var(--blue);
      }

      &[active="active"] {
        background-color: var(--blue);
        color: #fff;
      }
    }
  }

  & .orderTabs {
    position: relative;
  }

  & .tab {
    display: flex;
    flex-direction: column;

    &.orderInfo {
      display: flex;
      font-size: 14px;

      & .item {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        font-size: 12px;
        line-height: 16px;

        & .title {
          color: var(--textColor);
          font-size: inherit;
          line-height: inherit;
        }

        & .text {
          font-size: inherit;
          line-height: inherit;
          color: #121212;
        }
      }

      & .col1 {
        width: 30%;
      }

      & .col2 {
        width: 30%;
      }

      & .col3 {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        width: 330px;

        & .row {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
      }

      & .paperDetails {
        background-color: var(--grey);
        padding: 10px;
        border: 1px solid var(--inputBorderColor);
        border-radius: 8px;
        font-size: 12px;
        line-height: 16px;
        color: var(--textColor);
        min-height: 110px;
        width: 100%;
      }

      & .colContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 20px;
        @media (--desktop) {
          flex-direction: row;
          border-bottom: 1px dashed var(--inputBorderColor);
        }
      }

      & .flexAuto {
        flex: 1 0 auto;
      }

      & .bottomContainer {
        padding: 20px 0 0 0;
      }
    }

    & .messagesNav {
      display: flex;
      align-items: center;
      justify-content: center;

      & .item {
        font-size: 12px;
        line-height: 30px;
        color: var(--lightBg);
        padding: 0 20px;
        cursor: pointer;
        margin: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        &.active {
          background-color: var(--grey);
        }
      }
    }

    & .messagesContainer {
      background-color: var(--grey);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: var(--borderRadius);
      border-bottom-left-radius: var(--borderRadius);
      overflow: hidden;
      border: 2px solid var(--grey);

      & .messagesViewContainer {
        width: 100%;
        height: 300px;
        padding: 15px 10px;

        & .scrollZone {
          overflow: auto;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column-reverse;
          padding: 0 10px;
        }

        & .messageContainer {
          align-self: flex-start;
          background-color: #fff;
          max-width: 460px;
          border-radius: 8px;
          padding: 10px;
          margin-bottom: 10px;
          font-size: 12px;
          line-height: 16px;
          color: #121212;

          &.customerMessage {
            background-color: #e1ffc7;
            align-self: flex-end;

            & .sender {
              display: none;
            }

            & .iconContainer {
              left: auto;
              right: -16px;
              transform: rotateY(180deg);
              color: #e1ffc7;
            }
          }
        }

        & .messageText {
          font-size: inherit;
          line-height: inherit;
          color: inherit;
          display: flex;
          flex-direction: column;
          position: relative;

          & .iconContainer {
            display: flex;
            position: absolute;
            bottom: -16px;
            left: -16px;
            color: #fff;
          }

          & p,
          & li {
            font-size: inherit;
            line-height: inherit;
            color: inherit;
            margin: 0 0 5px 0;
          }

          & ul,
          & ol {
            margin-left: 10px;
          }

          & li {
            list-style-type: decimal;
          }

          & a {
            color: var(--lightBg);
            &:hover {
              text-decoration: underline;
            }
          }
        }

        & .sender {
          font-size: inherit;
          line-height: inherit;
          color: inherit;
          font-weight: bold;
          margin: 0 0 5px 0;
          display: block;
        }
      }

      & .footer {
        height: 75px;
        background-color: #fff;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;

        & .sendMessagesBtn {
          height: 30px;
          line-height: 30px;
          width: 100px;
          min-width: 0;
        }

        & .typeMessageArea {
          flex: 1 1 auto;
          border: none;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
