@import '../../../../theme/breakpoint.css';

.link {
  color: var(--lightBg);
  font-size: 14px;
  margin: 0 0 5px 0;
  display: flex;
  align-items: center;

  @media (--desktop) {
    margin: 0 0 20px 20px;
  }

  &:hover {
    text-decoration: underline;
  }

  & i {
    margin: -15px 5px 0 0;
  }
}

.topContainer {
  padding: 0;
  @media (--desktop) {
    margin-bottom: 15px;
  }

  & .col3 {
    justify-content: flex-start !important;
    margin-bottom: 15px;
    @media (--desktop) {
      margin-bottom: 0;
    }
  }
}

.orderContainer {
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow);
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @media (--desktop) {
    display: block;
  }

  & .nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 2px solid var(--blue);
    margin-bottom: 20px;

    & > * {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;
      color: var(--lightBg);
      background-color: var(--grey);
      font-size: 12px;
      line-height: normal;
      margin: 0;
      height: 30px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      white-space: nowrap;
      cursor: pointer;
      border: 2px solid transparent;
      border-bottom: none;
      transition: all ease 0.2s;
      @media (--desktop) {
        & i,
        & svg {
          display: none;
        }
      }

      &:hover {
        border-color: var(--blue);
      }

      &[active="active"] {
        background-color: var(--blue);
        color: #fff;
      }

      & span {
        display: none;
        @media (--desktop) {
          display: block;
        }
      }
    }
  }

  & .orderTabs {
    position: relative;
  }
}

.mobHidden {
  display: none !important;
  @media (--desktop) {
    display: flex !important;
  }
}
