@import '../../../../theme/breakpoint.css';

.preloaderWrapper {
  display: flex;
  justify-content: center;
  & img {
    width: 40px;
    height: 40px;
  }
}

.filterWrapper {
  display: flex;
  justify-content: space-between;

  & .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--blue);
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    padding: 10px 10px 10px 15px;
    width: 22%;
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
    cursor: pointer;
    box-shadow: var(--shadow);

    & .small {
      opacity: 0.5;
      font-size: 14px;
    }
  }
}

.ordersList {
  box-shadow: var(--shadow);
  padding: 30px 0;
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

.order {
  display: flex;
  flex-direction: column;
  border-radius: var(--borderRadius);
  border: 1px solid var(--inputBorderColor);
  margin: 0 auto 20px auto;
  width: 100%;
  max-width: 635px;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all ease 0.1s;

  &:hover {
    box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.16);
  }

  & .showMoreCol {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    border-top: 1px dashed var(--inputBorderColor);
    border-bottom: 1px dashed var(--inputBorderColor);
    font-size: 12px;
    font-weight: bold;
    color: var(--lightBg);
    cursor: pointer;
    transition: all 0.2s var(--cubic1);

    &:hover {
      color: #fff;
      background-color: var(--lightBg);
      border-color: transparent;
    }

    & i {
      margin: -7px 5px 0;
    }
  }
}
