@import '../../../../theme/breakpoint.css';

.preloaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  & img {
    width: 40px;
    height: 40px;
  }
}

.filterWrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--blue);

  & .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 7px 10px 7px;
    width: auto;
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
    cursor: pointer;
    color: var(--blue);
    letter-spacing: -0.8px;
    border: 1px solid transparent;
    border-bottom: none;
    transition: all ease-in-out 0.15s;

    &:hover {
      border-color: var(--blue);
    }

    &.on {
      background-color: var(--blue);
      color: #fff;
    }

    @media (--desktop) {
      width: 22%;
      font-size: 16px;
      line-height: 18px;
      padding: 10px 10px 10px 15px;
      box-shadow: var(--shadow);
      letter-spacing: 1px;
    }

    & .small {
      opacity: 0.5;
      font-size: 10px;

      @media (--desktop) {
        font-size: 14px;
      }
    }
  }
}

.topContainer {
  padding: 20px;
  align-self: center;
}

.ordersList {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 0;
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  min-height: 250px;
  @media (--desktop) {
    box-shadow: var(--shadow);
  }

  & .showMoreBtn {
    align-self: center;
    margin: auto auto 0;
  }
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--borderRadius);
  border: 1px solid var(--inputBorderColor);
  margin: 0 auto 20px auto;
  width: 100%;
  max-width: 635px;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all ease 0.1s;

  &:hover {
    box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.16);
  }

  & .showMoreCol {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    width: 100%;
    border-top: 1px dashed var(--inputBorderColor);
    border-bottom: 1px dashed var(--inputBorderColor);
    font-size: 12px;
    font-weight: bold;
    color: var(--lightBg);
    cursor: pointer;
    transition: all 0.2s var(--cubic1);

    &:hover {
      color: #fff;
      background-color: var(--lightBg);
      border-color: transparent;
    }

    @media (--desktop) {
      padding: 10px;
    }

    & i {
      margin: -7px 5px 0;
    }
  }
}

.emptyText {
  color: var(--textColor);
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  align-items: center;
  font-size: 14px;
}
