@import '../../../../theme/breakpoint.css';

.ordersList {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 0;
  border-radius: var(--borderRadius);
  min-height: 250px;
  @media (--desktop) {
    box-shadow: var(--shadow);
  }

  & .showMoreBtn {
    align-self: center;
    margin: auto auto 0;
  }
}

.emptyText {
  color: var(--textColor);
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  align-items: center;
  font-size: 14px;
}
