.loginLink {
  border: none;
  background-color: transparent;
  color: #6ea19d;
  font-size: 14px;
  cursor: pointer;

  &:matches(:hover, :focus) {
    text-decoration: underline;
  }
}

.popupContent {
  text-align: center;
  padding: 30px 15px;

  & button {
    margin: 20px auto 0 auto;
  }

  & p {
    font-size: 26px;
    color: var(--title);
    font-weight: bold;
    margin-bottom: 15px;
  }
}
