@import '../../../theme/breakpoint.css';

.header {
  background-color: var(--headerBg);
  padding: 5px 0;

  & .logo {
    width: 88px;
    height: 34px;
    display: block;

    @media (--phone) {
      width: 117px;
      height: 45px;
    }
  }

  & .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .btnWrapper {
    display: flex;
  }

  & .userLink {
    color: var(--accent);
    font-weight: bold;

    &:matches(:hover, :focus) {
      text-decoration: underline;
    }
  }
}

