.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 190px;
  flex-shrink: 0;
}

.navItem {
  color: var(--textColor);
  &:hover,
  &.active {
    color: var(--accent);
  }
}

